@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h3>Engineer Details</h3>
<hr>

<h5>Engineer name: @Html.DisplayFor(model => model.Name)</h5>

<hr>
<p>
@Html.ActionLink("Edit Engineer", "Edit")<br>
@Html.ActionLink("Back to Engineers List", "Index")<br>
@Html.ActionLink("Return Home", "Index", "Home")
</p>

