@{
  Layout = "_Layout";
}

<h1>Welcome, Dr. Sillstringz.</h1> 
<h3>How would you like to proceed today?</h3><br>

<p>@Html.ActionLink("Machine Management", "Index", "Machines") -- OR --
@Html.ActionLink("Engineer Management", "Index", "Engineers")</p>